<!-- ==================== 3 forms =============== -->


            <!-- ============= 1  form =============== -->

            <form *ngIf="forgetFlag" [formGroup]="forgetForm" (ngSubmit)="forgetSubmit()" >

                <h3>Forget Password Form</h3>
          
                <div class="mb-3">
                    <label>email</label>
                    <input  formControlName="email" class="form-control">
        
        
                    <div *ngIf="forgetForm.get('email')?.errors && forgetForm.get('email')?.touched" class="alert alert-danger">
                        <p *ngIf="forgetForm.get('email')?.errors?.['required']" >Email is Required</p>
                        <p *ngIf="forgetForm.get('email')?.errors?.['email']">please enter valid email</p>
                   </div>
        
                </div>
        
             
        
      
                <button [disabled]="forgetForm.invalid" type="submit" class="btn bg-main text-white">send to email <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i> </button>
            
        
        
            </form>

            <!-- ===================  2 form ================ -->

          <form *ngIf="verifyFlag" [formGroup]="verifyForm" (ngSubmit)="verifySubmit()" >

            <h3>Verify Form</h3>
      
            <div class="mb-3">
                <label>resetCode</label>
                <input  formControlName="resetCode" class="form-control">
    
    
                <div *ngIf="verifyForm.get('resetCode')?.errors && verifyForm.get('resetCode')?.touched" class="alert alert-danger">
                    <p *ngIf="verifyForm.get('resetCode')?.errors?.['required']" >resetCode is Required</p>
              </div>
    
            </div>
    
         
    
  
            <button [disabled]="verifyForm.invalid" type="submit" class="btn bg-main text-white">send To Versify<i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i> </button>
        
    
    
        </form>

        <!-- ============ 3 Form ================== -->

        <form *ngIf="newPassFlag"  [formGroup]="newPassForm" (ngSubmit)="newPassSubmit()" >

            <h1>New Password Form</h1>
          
            <div class="mb-3">
                <label>email</label>
                <input  formControlName="email" class="form-control">
    
    
                <div *ngIf="newPassForm.get('email')?.errors && newPassForm.get('email')?.touched" class="alert alert-danger">
                    <p *ngIf="newPassForm.get('email')?.errors?.['required']" >Email is Required</p>
                    <p *ngIf="newPassForm.get('email')?.errors?.['email']">please enter valid email</p>
               </div>
    
            </div>
            <div class="mb-3">
                <label>Password</label>
                <input formControlName="newPassword" class="form-control">
    
                <div *ngIf="newPassForm.get('newPassword')?.errors && newPassForm.get('newPassword')?.touched" class="alert alert-danger">
                    <p *ngIf="newPassForm.get('newPassword')?.errors?.['required']" >newPassword is Required</p>
                    <p *ngIf="newPassForm.get('newPassword')?.errors?.['pattern']">please enter valid newPassword</p>
               </div>
            </div>
         
         
  
            <button [disabled]="newPassForm.invalid" type="submit" class="btn bg-main text-white">New Password <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i> </button>
            
     
    
    
        </form>