

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand me-5" routerLink="/home">
          <img src="assets/images/assortment-citrus-fruits.png"><span>SaH</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
          <ul class="navbar-nav d-flex align-item-center ms-auto mb-2 mb-lg-0">
      
              <li class="nav-item d-flex gap-3 me-3 align-items-center">
                 <a><i class="fab fa-instagram"></i></a>
                 <a><i class="fab fa-facebook"></i></a>
                 <a><i class="fab fa-youtube"></i></a>
                 <a><i class="fab fa-linkedin"></i></a>
                 <a><i class="fab fa-behance"></i></a>
              </li>
  
              <li role="button" class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="bg-main p-2 rounded-pill text-white">Login</a>
            </li>
            <li role="button" class="nav-item">
                <a class="nav-link" routerLink="/register" routerLinkActive="bg-main p-2 rounded-pill text-white">Register</a>
            </li>
  
          </ul>
               
      </div>
    </div>
  </nav>